.search-container {
  .list-kw-container {
    margin-top: 16px;
    label {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 4px;
    }
  }
  .list-keywords {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
    .keyword-item {
      padding: 2px 4px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      .icon-remove {
        margin-left: 4px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .input-keyword {
    display: flex;
    gap: 16px;
  }

  .results-course {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    flex-direction: row;
    .course-item {
      img {
        border-radius: 8px;
      }
      width: 280px;
      padding: 6px;
      border-radius: 6px;
      border: 1px solid gainsboro;
      height: 400px;
      .course-name {
        font-weight: 500;
        font-size: 18px;
        margin: 4px 0;
        overflow: hidden;
        height: 64px;
      }
      .course-link {
        color: blue;
        opacity: 0.8;
        font-size: 14px;
        margin: 12px 0;
        height: 48px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
