.box-info {
  padding: 4px 8px;
  background-color: aliceblue;
}

.detail-course {
  .name {
    font-weight: 500;
  }
  .description {
    font-size: 14px;
  }

  .link {
    font-size: 12px;
    color: blue;
  }
}
